@model IEnumerable<SAKURA.NZB.Domain.Customer>

@{
    ViewData["Title"] = "Customer";
}

<h2 style="margin-bottom:50px">
    客户
    <div class="pull-right">
        <p>
            <a asp-action="Create">
                <button type="button" class="btn btn-info">
                    创建客户 <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </button>
            </a>
        </p>
    </div>
</h2> 
@Html.AntiForgeryToken()

@if (Model.Count() == 0)
{
    <h4>暂无任何客户记录</h4>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Phone1)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td onclick="location.href = '@(Url.Action("Details", new { id = item.Id }))'">
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>

                <td onclick="location.href = '@(Url.Action("Details", new { id = item.Id }))'">
                    @Html.DisplayFor(modelItem => item.Phone1)
                </td>
                <td onclick="location.href = '@(Url.Action("Details", new { id = item.Id }))'">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @*<a asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>*@
                    <a data-toggle="modal" data-target="#myModal" style="color: #d9534f" data-id="@item.Id" data-name="@item.FullName">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
    </table>
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">确认删除</h4>
            </div>
            <div class="modal-body">
                你确定永久删除顾客<span id="customer-name"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-danger" id="btnDelete">
                    删除
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#myModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var id = button.data('id') // Extract info from data-* attributes
                var name = button.data('name')

                var modal = $(this)
                var btnDelete = modal.find('#btnDelete')

                var removeEvents = function () {
                    btnDelete.off("click", deleteItem);
                };

                var deleteItem = function () {
                    removeEvents();
                    $.post('@Url.Action("Delete")',
                        AddAntiForgeryToken({ id: id }))
                       .done(function () {
                           location.href = '@(Url.Action("Index"))'
                       }).fail(function (data) {
                           alert("error");
                       });
                    return false;
                };

                btnDelete.on("click", deleteItem);
                modal.find('#customer-name').text(name);

                AddAntiForgeryToken = function (data) {
                    data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                    return data;
                };
            })
        });
    </script>
}
