@{
    ViewData["Title"] = "Home Page";
}
<div id="Header" class="row container" style="margin-right: auto; margin-left: auto;">
    <div class="col-sm-7" style="padding:0">
        <h1>
            <a class="regenerate">
                SAKURA
            </a>
            <br>
            <small>
                <a class="recolor">NZ BUY</a>
            </small>
        </h1>
        <form class="form-inline">
            <div class="input-group">             
                <input id="nzd" class="form-control" placeholder="NZD" value="1" />
                <div class="input-group-addon">NZD</div>
            </div>
            <i class="fa fa-exchange"></i>
            <div class="input-group">               
                <input id="cny" class="form-control" placeholder="CNY" value="@Html.Raw(ViewBag.LiveRate)" />
                <div class="input-group-addon">CNY</div>
            </div>
        </form>
    </div>
    <div class="col-sm-5" style="padding:0">
        <div class="pull-right">
            <svg preserveAspectRatio="xMaxYMax slice" viewBox="0 0 840 600" width="258" height="150"></svg>
        </div>
    </div>
</div>

<script>
    var historyRate = @Html.Raw(ViewBag.HistoryRate);
    var counterRate = @Html.Raw(ViewBag.CounterRate);
    var liveRate = @Html.Raw(ViewBag.LiveRate);
    var highRate = @Html.Raw(ViewBag.HighRate);
    var lowRate = @Html.Raw(ViewBag.LowRate);

    var sender ='@Html.Raw(ViewBag.Sender)';
    var senderPhone = @Html.Raw(ViewBag.SenderPhone);
    var freightRate = @Html.Raw(ViewBag.FreightRate);

    window.nzb = {
        rate: {
            history: historyRate,
            base: counterRate,
            live: liveRate,
            high: highRate,
            low: lowRate
        },

        express: {
            sender: sender,
            senderPhone: senderPhone,
            freightRate: freightRate
        }
    };

    $('#nzd').on('input',function(e){
        var source = e.target.value;
        if ($.isNumeric(source)){
            var result = (parseFloat(source) * liveRate).toFixed(4);
            $('#cny').val(result);
        }else{
            $('#cny').val('');
        }
    });
    $('#cny').on('input',function(e){
        var source = e.target.value;
        if ($.isNumeric(source)){
            var result = (parseFloat(source) / liveRate).toFixed(4);
            $('#nzd').val(result);
        }
    });
</script>

<app class="container" style="display: block;">Loading...</app>
