@model IEnumerable<SAKURA.NZB.Domain.Product>

@{
    ViewData["Title"] = "Index";
}

<h2 style="margin-bottom:50px">
    产品目录
    <div class="pull-right">
        <p>
            <a asp-action="Create">
                <button type="button" class="btn btn-info">
                    创建产品 <i class="fa fa-barcode fa-lg"></i>
                </button>
            </a>
        </p>
    </div>
</h2> 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
